---
layout: default
---

<div class="home">
<article class="post-content"> 
<p><a href= "http://share.findmespot.com/shared/faces/viewspots.jsp?glId=0Yqto1SBp1MrHmtmldF3mTYWBRej4cKNC">Curtis' current location (Spot)</a> <a href="https://api.findmespot.com/spot-main-web/consumer/rest-api/2.0/public/feed/0Yqto1SBp1MrHmtmldF3mTYWBRej4cKNC/message.xml">[RSS API]</a></p>
<p><a href= "https://www.flickr.com/photos/weownit">Curtis' pictures (flickr)</a> <a href="https://www.flickr.com/photos/weownit/map">[photo map]</a></p>

</article>
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <h3 class="h2 post-title">{{ post.title }}</h3>
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
